.section5{
    background-color: var(--fundo);
    height: auto;



    display: flex;
    align-items: center;


    padding-left: 7rem;
    padding-right: 7rem;

    justify-content: center;

    padding-bottom: 5rem;
}

.envoltorio{
    background-color: var(--fundo);
    display: flex;

    border-radius: 30px;

    padding: 2rem 1.5rem 2rem 1.5rem;

    box-shadow: 0px 0px 20px black;

    align-items: center;

    width: 100%;
}


.apresentacao{
    margin-right: 3rem;
    width: 100%;


}

.apresentacao h2{
    font-family: anton;
    font-weight: 500;
    font-size: 2.8rem;

    padding-bottom: 2rem;

}

.apresentacao p{
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.apresentacao hr{
    background-color: var(--preto);
    height: 1px;
    width: 100%;

    margin-bottom: 2rem;

}

.apresentacao ul li{
    font-size: 1.2rem;
    
    padding-bottom: 1rem;

    list-style: none;
}


.apresentacao p, .apresentacao li{
    font-family: archivo;
    letter-spacing: .008em;
    line-height: 1.3;

    word-wrap: break-word;
}



.form{
    width: 100%;
    font-size: 1.2rem;
    font-family: archivo;
    letter-spacing: .008em;
    line-height: 1.3;

}


.form label{

    padding-left: 0.4rem;
    
}

.form input{
    width: 100%;
    height: 50px;

    border-radius: 15px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    
    box-sizing: border-box;

    border: 0px;
}

.form input::placeholder{
    font-size: 1rem;
}


.form button{
    margin-top: 1.6rem;
    padding: 0.7rem;

    font-size: 1.2rem;
    font-family: archivo;
    letter-spacing: .008em;
    line-height: 1.3;
    font-weight: 500;

    border: 0px ;
    border-radius: 15px;
    background-color: var(--branco);
    color: black;

    transition: 0.5s;
}


.form button:hover{
    background-color: var(--preto);
    color: var(--branco);

    cursor: pointer;
}






@media (max-width: 1090px){

.apresentacao h2{
    font-size: 4vw;
}

.apresentacao p{
    font-size: 1rem;
}

.apresentacao ul li{
    font-size: 1rem;

}
}

@media (max-width: 720px){
    
    .section5{
        padding: 0rem 2rem 1rem 2rem;
    }

    .envoltorio{
    display: block;
    width: 100%;

    }

    .apresentacao h2{
        font-size: 2rem;
    }
}